*{
    padding: 0px;
    margin: 0px;
}

.contenido{
    background-color: #285a89;
    height: 50px;
    width: 100%;
}

#header{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#botones{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15pt;
    border-top: 2pt solid black;
    border-bottom: 2pt solid black;
    padding-top: 5pt;
    padding-bottom: 5px;
}
#logoIPN{
    background-color: #ececec;
    height: 60px;
    margin-right: 20px;
    padding: 2px;
    margin-top: 5px;
    border-radius: 10px 0px 10px 0px;
}
/*
#contProt:hover{    
    background-image: url(../imagenesProyecto_TecWeb/logo_escom.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all .5s;
}
*/

#siglas{
    color: #800040;
    background-color: #ececec;
    font-size: 45pt;
    text-align: center;
    width: 30%;
    font-family: 'Courier New', Courier, monospace;
}

#catt{
    height: inherit ;
    text-align: center;
    font-size: 25pt;
    color: #ececec;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: 15pt;
    height: 30pt;
}
.titulo:hover{
    background-color: #a6a3a358;
    border-radius: 10pt;
    /*
    background-image: url(../../../../logo_ipn.png);
    background-repeat: no-repeat;
    align-content: center;
    transition: all .5;
    */
}
.bold:hover{
    transition: font-size .5s;
    font-size: 18pt;
}

.bold{
    text-decoration: none;
    color: rgb(19, 19, 176);
}

#enlaceHome{
    text-decoration: none;
    color: unset;
}

#enlace{
    text-align: center;
    width: 100%;
}
/*
table{
    border-style: solid;
}
td{
    border-style: solid;
}
th{
    border-style: solid;
}
tr{
    border-style: solid;
}*/


#prueba{
    font-size: xx-large;
}


#procedimiento{
    width: 50%;
    border-radius: 10pt;
}

#registro{
    width: 50%;
    margin-top: 1200pt;
}

.interno{
    height: 200pt;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 5pt;
    list-style-type: decimal-leading-zero;
}

td li{
    padding-bottom: 5px;
    padding-top: 5%;
}

.imgEnlace{
    height: 50pt;
}

#distinto{
    height: 40pt;
}

#paleta{
    color: #0d354a;
    color: #285a89;
    color: #ececec;
    color: #a6a3a3;
    color: #393939;
}

#footer{
    background-color: #393939;
    color: white;
    font-size: medium;
    height: 20pt;
    margin-top: 20px;
    bottom: 0pt;
    padding-top: 5pt;
}

#preguntas{
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px solid black;
}
#queEs, #quienes{
    background-color: #285a89;
    cursor: pointer;
    border-radius: 2.5px;
}
#textoQueEs, #textoQuienes{
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #a6a3a371;
    border-radius: 0px 0px 10px 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    border-bottom: 2px solid black;
}
#imgBoton1, #imgBoton2{
    height: 25px;
    padding-right: 15px;
    display: inline;
    float: right;
    cursor: pointer;
}
#boton{
    cursor: pointer;
    background: #285a89;
    border: none;
    color: white;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 30px;
    font-weight: bold;
}

.frames{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
#imagenFrame{
    height: 40px;
}
#imagenFrame:hover{
    height: 50px;
    transition: height .5s;
}
#encabezadoFrame{
    padding-bottom: 10px;
}
#textoFrames{
    display: inline;
    text-align: center;
    margin-bottom: 10px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contFrames{
    display: inline-block;
    width: 45%;
    align-items: center;
}
#facebook{
    padding-left: 50px;
}