.centro{
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.i{
    margin: 20px;
    
}

.centro input[type="text"], input[type="email"], input[type="password"]{
    text-align: center;
    border: 1px solid rgb(89, 89, 89);
    background: transparent;
    outline: none;
    height: 40px;
    width: 250px;
    color: #000;
    font-size: 16px;
    margin-left: 34px;
    margin-top: 10px;
}

.inicio input[type="email"], .d input[type="email"]{
    width: 400px;
}