*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url("../imagenesProyecto_TecWeb/logo_escom.png");
    background-size: 40px;
    background-color: #9b979771;
}

.contDash{
    border: 2px solid black;
}
#textInicial{
    width: 80%;
}
#parrafoInicial{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}