#intro, .contenidoTabla{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contenidoTabla{
    padding: 10px;
}

/*
*{
    border: 2px solid black;
}
*/

#contenidoProcedimiento{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

#tablaTT{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px;
    padding-bottom: 10px;
    width: 100%;
}
.tituloTabla, #documentacion{
    text-align: center;
}
.tituloTabla{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    height: max-content;
    background-color: #a0c5abd5;
    padding: 3px;
}
#documentacion{
    background-color: transparent;
    width: max-content;
    align-items: center;
    border: none;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 2px;
}
#contProtocolo{
    border-left: 2px dashed black;
    margin-bottom: 2px;
}
#contCentral{
    border-left: 2px dashed black;
    border-right: 2px dashed black;
}
#contTTR{
    border-right: 2px dashed black;
}
#documentacion:hover{
    font-size: 15px;
    transition: all .3s;
    background-color: #d3d2d2;
}
.clicDoc{
    cursor: pointer;
    background-color: #ececec;
    height: 25px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px outset black;
    border-radius: 0px 10px 0px 10px;
}
.clicDoc:hover{
    transition: all .3s;
    background-color: #d3d2d2;
}
#div{ 
    margin-right: 10px;
}
.filaEnlace{
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.imgBoton{
    height: 20px;
    float: right;
    padding-right: 10px;
    padding-top: 3px;
    cursor: pointer;
}
#click{
    float: left;
}
#paleta{
    color: #0d354a;
    color: #285a89;
    color: #ececec;
    color: #a6a3a3;
    color: #393939;
}