p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    color: #9fa3a7;
    line-height: 22px;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 42px;
}

h1,h2,h3,h4,h5 {
    color: #26292c;
}

p + p {
    margin-top: 40px;
}

/* Input fields */
.form-group {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.form-control {
    border-radius: 25px;
    height: 50px;
    padding: 15px 20px;
    border-color: #f5f5f8;
}

.form-control + .form-control {
    margin-top: 10px;
}

.form-control:focus {
    background-color: #f5f5f8;
    border-color: #f5f5f8;
    box-shadow: none;
    outline: none;
}

.form-group .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 40px;
    min-width: 60px;
    font-size: 16px;
    border-radius: 25px;
}

.form-control-comment {
    height: 100px;
    resize: none;
}

.search-form .form-group .form-control {
    padding-right: 80px;
}



/* SITEMAIN
================================================== */
/* site-section */
.site-section {
   padding: 100px 0 140px;
}

.subheading-text {
    font-size: 20px;
    font-style: italic;
}

.heading-separator {
    position: relative;
    margin: 0;
    padding-bottom: 70px;
}

.heading-separator:after {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    height: 2px;
    width: 50px;
    margin: 0 auto;
    background-color: #267df4;
}
/* Section: Portfolio */
.portfolio-item {
    margin-top: 10px;
}

.portfolio-item {
    height: 300px;
    position: relative;
}

.portfolio-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 100%;
    bottom: 0;
    background-color: #3E7B9B;
    transition: right 0.25s ease-in-out;
    -moz-transition: right 0.25s ease-in-out;
    -webkit-transition: right 0.25s ease-in-out;
    -o-transition: right 0.25s ease-in-out;
    -ms-transition: right 0.25s ease-in-out;
}

.portfolio-item:hover:before {
    right: 25%;
}

.portfolio-item-title,
.portfolio-item a {
    position: absolute;
    left: 0px;
    margin: 0;
    font-size: 16px;
    opacity: 0;
}

.portfolio-item-title {
    width: 150px; 
    top: 15px;  
    transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -moz-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -webkit-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -o-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -ms-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.portfolio-item:hover .portfolio-item-title {
    left: 15px;
    opacity: 1;
}

.portfolio-item a {
    bottom: 15px;
    color: #003147;
    padding: 5px 12px;
    border: 1px solid #003147;
    border-radius: 10px;
}

.portfolio-item:hover a {
    left: 55%;
    opacity: 1;
}

.portfolio-item a:hover {
    background-color: #003147;
    color: #fff;
}

.portfolio-item a i {
    width: 16px;
    text-align: center;
}

